# Configuration de l'application
PORT=3000

# Configuration de la base de données MySQL
DB_HOST=db
DB_USER=root
DB_PASSWORD=votremotdepasse
DB_NAME=dic2iabd_db

# Configuration MySQL
MYSQL_ROOT_PASSWORD=votremotdepasse
MYSQL_DATABASE=dic2iabd_db
